
<a {{action 'toggleDropdown'}} class="toggle {{if open 'active'}}">
  {{#if isLoggedIn}}
    {{gravatar-image
      email=authentication.currentUser.email
      title=authentication.currentUser.fullName
      defaultImage='mm'
      class='circle'
      secure=false
      size=35
    }}
  {{else}}
    Sign in
  {{/if}}
</a>


<div class="dropdown {{if open 'open'}}">

  <div class="header">
    {{#if isLoggedIn}}
      Hello <strong>{{authentication.currentUser.fullName}}</strong>
    {{else}}
      Sign in.
    {{/if}}

  </div>

  <div class="body">
    {{#if isLoggedIn}}
      <a {{action 'goToProfile'}}>
          Settings
      </a>

      <a disabled=true>
        change password
      </a>

    {{else}}
      <form>
        <fieldset>
          {{input value=email placeholder="email" disabled=isAuthenticating}}
          {{input value=password type='password' enter="login" placeholder="password" disabled=isAuthenticating}}
        </fieldset>


        <div class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          {{#if isAuthenticating}}
            <i class="fa fa-refresh fa-spin fa-stack-1x fa-inverse"></i>
          {{else}}
            <i class="fa fa-arrow-right fa-stack-1x fa-inverse" {{action 'login'}}></i>
          {{/if}}
        </div>
      </form>

  {{/if}}
  </div>

  {{#if isLoggedIn}}
    <div class="footer">
      <small><a {{action "logout"}} class="pull-right">Sign out</a></small>
    </div>

  {{/if}}
</div>

{{yield}}