<div class="chevron-container" {{action 'gotoUsers'}}>
  {{fa-icon "chevron-up" size="1" }}
</div>

{{controller}}
<div class="user-details">

    {{!gravatar-image
      email=model.email
      title=model.fullName
      defaultImage='mm'
      class='img-circle'
      secure=false
      size=60
    }}

    <dl class="base-data">
      <dt>Name:</dt>    <dd>{{model.fullName}}</dd>
      <dt>Email:</dt>   <dd>{{model.email}}</dd>
    </dl>

    <dl>
      <dt>Created at:</dt> <dd>{{model.createdAtDate}}</dd>
      <dt>Updated at:</dt>  <dd>{{model.updatedAtDate}}</dd>
    </dl>

     <br>

</div>
