<div class="ui segment">

<form class="ui form">

  <h4 class="ui dividing header">Edit account</h4>

  <div class="field">
        <div class="two fields">

      <div class="field">

        <label>First name</label>
        {{validated-input
          type='text'
          value=model.firstName
          placeholder="First name"
          showErrors=model.showErrors
          errors=model.computedErrors.firstName
        }}
      </div>

      <div class="field">

        <label>Last name</label>
        {{validated-input
          type='text'
          value=model.lastName
          placeholder="Last name"
          showErrors=model.showErrors
          errors=model.computedErrors.lastName
        }}
      </div>

    </div>
  </div>

{{!--       {{#if model.showErrors}}
        <small class="errors">
          {{array-to-sentence model.computedErrors.firstName}}
        </small>
      {{/if}} --}}




{{!--       {{#if model.showErrors}}
        <small class="errors">
          {{array-to-sentence model.computedErrors.lastName}}
        </small>
      {{/if}} --}}


    <div class="field">
      <label>Email</label>
      {{validated-input
        type='text'
        value=model.email
        placeholder="email"
        showErrors=model.showErrors
        errors=model.computedErrors.email
      }}
    </div>
{{!--       {{#if model.showErrors}}
        <small class="errors">
          {{array-to-sentence model.computedErrors.email}}
        </small>
      {{/if}} --}}


      {{validated-input
        type='text'
        value=model.password
        placeholder="password"
        showErrors=model.showErrors
        errors=model.computedErrors.password
        disabled=true
      }}
{{!--       {{#if model.showErrors}}
        <small class="errors">
          {{array-to-sentence model.computedErrors.password}}
        </small>
      {{/if}} --}}

      {{validated-input
        type='text'
        value=model.repeatedPassword
        placeholder="Repeat password"
        showErrors=model.showErrors
        errors=model.computedErrors.repeatedPassword
        disabled=true
      }}
{{!--       {{#if model.showErrors}}
        <small class="errors">
          {{array-to-sentence model.computedErrors.repeatedPassword}}
        </small>
      {{/if}} --}}


    <small>*disabled for the moment</small>


  <div class="text-right margin__bottome__1">
    <button class="red" {{action 'cancel' model}} disabled={{model.isSaving}}>
      Cancel
    </button>
    <button class="blue" {{action 'saveUser' model}} disabled={{model.isSaving}}>
      {{#if model.isSaving}}
        <i class="icon-refresh icon-spin"></i>
      {{else}}
        Save
      {{/if}}
    </button>
  </div>

</form>

</div>