<div class="container-fluid">
  <div class="row">

    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">

          <div class="row form-group">

            <div class="col-md-12 center-block">
              {{gravatar-image
                email=user.email
                title=user.fullName
                defaultImage=model.defaultGravatar
                class="img-circle img-responsive center-block m-b-1"
                secure=false
                size=100
              }}

              <p class="text-center">
                Upload an image at <a href="https://gravatar.com" target="_blank">Gravatar</a> for the email of this account.
                It will be automatically used.
              </p>
            </div>

          </div>

            <form class="users-form">

              <div class="form-group row">

                <label class="col-md-6">
                  first name: <br>
                  {{input value=model.firstName
                    type='text'
                    class="form-control"
                    placeholder="First name"
                  }}
                </label>

                <label class="col-md-6">
                  last name: <br>
                  {{input value=model.lastName
                    type='text'
                    class="form-control"
                    placeholder="Last name"
                  }}
                </label>

              </div>

              <div class="form-group row">
                <label class="col-md-12">
                  email: <br>
                  {{input value=model.email
                    type='text'
                    placeholder="email"
                    class="form-control"
                  }}
                </label>
              </div>

              <div class="row form-group">

                <label class="col-md-6">
                  password: <br>
                  {{input value=model.password
                    type='text'
                    class="form-control"
                    placeholder="password"
                    disabled=true
                  }}
                </label>

                <label class="col-md-6">
                  repeat password: <br>
                  {{input value=model.repeatedPassword
                    type='text'
                    class="form-control"
                    placeholder="Repeat password"

                    disabled=true
                  }}
                </label>

                <div class="col-md-12">
                  <small>*disabled for the moment</small>
                </div>

              </div>


              <div class="row">
                <div class="col-md-12">
                  <button class="btn btn-danger pull-right" {{action 'cancel' model}} disabled={{model.isSaving}}>
                    Cancel
                  </button>
                  <button class="btn btn-success pull-right m-r-1" {{action 'saveUser' model}} disabled={{model.isSaving}}>
                    {{#if model.isSaving}}
                      <i class="icon-refresh icon-spin"></i>
                    {{else}}
                      Save
                    {{/if}}
                  </button>
                </div>
              </div>

          </form>

        </div> {{!-- end panel-body --}}
      </div> {{!-- end panel --}}
    </div> {{!-- end col-md-12 --}}
  </div> {{!-- end row --}}
</div> {{!-- end container --}}