<div class="ui grid">

  <div class="six wide column">
    <div class="ui card">

      <div class="image">
         {{gravatar-image
           email=user.email
           title=user.fullName
           defaultImage='mm'
           secure=false
           size=200
         }}
      </div>

      <div class="content">

        <a class="header">
          {{model.fullName}}
        </a>

        <div class="meta">
          <span class="date">
            {{capitalize model.type}}
          </span>
        </div>
       {{!--  <div class="description">
          Kristy is an art director living in New York.
        </div> --}}
      </div>

    </div>
  </div>

  <div class="ten wide column">

    <h5 class="ui top attached orange segment">
      Email:
    </h5>
    <div class="ui attached segment">
      <p>{{model.email}}</p>
    </div>

    <h5 class="ui attached header">
      Created at:
    </h5>
    <div class="ui attached segment">
      <p>{{model.createdAtDate}}</p>
    </div>

    <h5 class="ui attached header">
      Updated at:
    </h5>
    <div class="ui attached segment">
      <p>{{model.createdAtDate}}</p>
    </div>

    <h5 class="ui attached header">
      Summary
    </h5>
    <div class="ui attached segment">
      <p>
        {{model.fullName}} has written {{model.posts.length}} post(s).
      </p>
    </div>

  </div>

</div>
