<div class="chevron-container" {{action 'gotoUsers'}}>
  {{fa-icon "chevron-up" size="1" }}
</div>

<div class="user-details">

    <dl class="base-data">
      <dt>Name:</dt>    <dd>{{model.fullName}}</dd>
      <dt>Email:</dt>   <dd>{{model.email}}</dd>
    </dl>

    <dl>
      <dt>Created at:</dt> <dd>{{model.createdAtDate}}</dd>
      <dt>Updated at:</dt>  <dd>{{model.updatedAtDate}}</dd>
    </dl>

    {{#if controller.isCurrentUser}}
      <p>
      {{#link-to 'user.edit' model}}
        <div class='right-text'>edit {{fa-icon "pencil" size="1"}}</div>
      {{/link-to}}
      </p>
    {{/if}}

</div>
