

<div class="users-index panel">

  {{!-- {{#link-to 'users.new' class="users-new-link"}}
    Create User
  {{/link-to}} --}}

    <div class="search">
      <label>
        {{input type=text value=searchQuery placeholder="Filter by name"}}
        {{fa-icon "search" size="1"}}
      </label>

    </div>


  {{outlet}}

  <div class=" users-list-container">



      {{#each filteredUsers as |user|}}
        {{#unless user.isNew}}

            {{#link-to 'user.index' user class='user-link' disabled=this.active}}

              <div class="gravatar">
                {{gravatar-image
                  email=user.email
                  title=user.fullName
                  defaultImage='mm'
                  class='img-circle'
                  secure=false
                  size=40
                }}
              </div>

              <strong class="name">{{user.fullName}}</strong>

              <div class="role">
                {{capitalize user.type}}
              </div>

            {{/link-to}}

            <div class="outlet-animation-container">
              {{outlet user.outletRepresentation}}
            </div>

        {{/unless}}

      {{else}}
        <p class="text-center">
          empty...
          <br>
        </p>
      {{/each}}

  </div>

</div>

