

<div class="users-index panel">

  {{#link-to 'users.new' class="users-new-link pull-right"}}
    Create User
  {{/link-to}}

  {{outlet}}

  <div class="body users-list-container">
      {{#each model as |user|}}
        {{#unless user.isNew}}

          {{#active-link tagName='div' class='active-link-wrapper'}}

            {{#link-to 'user.index' user class='user-link' disabled=this.active}}

              <div class="gravatar">
                {{gravatar-image
                  email=user.email
                  title=user.fullName
                  defaultImage='mm'
                  class='img-circle'
                  secure=false
                  size=40
                }}
              </div>

              <strong class="name">{{user.fullName}}</strong>

              <div class="role">
                {{capitalize user.type}}
              </div>

            {{/link-to}}

            <div class="outlet-animation-container">
              {{outlet user.outletRepresentation}}
            </div>

          {{/active-link}}

        {{/unless}}
      {{/each}}

  </div>

</div>

